font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;
*{margin: 0px;
padding: 0px;
border: 0px;
}

/* section one */
header{
}
header h1{font-size: 70px;
    color: white;
    
}
h5{
    font-size: 40px;
}
header p{font-size:24px;
    margin: 20px 0px 25px 0px;
    color: white;
}
button{font-size: 20px;
    text-decoration: none;
    color: white;
    background: red;
    padding: 10px 20px;
    border-radius: 8px;
 }
 .section_two,.section_one{margin-left: 7%;
    margin-right: 7%;
}
.header_section{display: flex;
                flex-direction: row;
                background: #000000f0;
                border-radius: 10px;
                padding-top: 35px;
}
.header_article{  width: 40%;
    margin-left: 7%;
}
.header_img{    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header_img img{width: 75%;}
/* section two */
.section_two{display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 2px;
}
.navigation{
     display: flex;
justify-content: end;
width: 22%;
}
.transfer_grid{width: 78%;}
.menu {
    width: 284px;
    background: #000000f0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 12px;
    height: 220px;
    justify-content: center;
}
.menu ul {   list-style-type: none;
font-size: 22px;
width: 206px;
padding-top: 25px;
padding-bottom: 25px;
border-radius: 8px;


    
}
.navigation{display: flex;
        justify-content: center;
} 



.menu_bar ul li a:hover,#active{background: red;
    color: black;
}
.menu_bar ul li:hover li{background: red;}



.menu_bar ul li a{    padding: 7px;
    border: 1px solid rgba(108, 67, 67, 0.137);
    margin: 10px;
    background: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.trasfer_bottom{display: flex;
    margin-bottom: 15px;
    justify-content: space-between
}
.trasfer_bar{border: 2px solid black;
    border-radius: 7px;
    font-size: 20px;
    margin:  16px;
    padding:5px;
    width: 93px;}
.trasfer_p{margin-left: 17px;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}
.trasfer_time,.transfer_comment{display:flex;
    gap: 10px;
    align-items: center;
    margin-left: 17px

}
.transfer_comment{margin-right: 15px;}
.transfer_grid{    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    justify-items: center;
    column-gap: 25px;
}
.grid_width{width: 313px;
    padding: 1px;
    border: 1px solid #00000036;
    border-radius: 14px;
position: relative;

}
.grid_width_img{position: absolute;
    width: 100%;
    overflow: hidden;
}
footer{height: 355px;
background:#000000f0;}
.footer_section{    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;

}
.footer_section h3 {     font-size: 40px;
    padding-bottom: 45px;
    margin-top: 100px;
    margin-bottom: 35px;
    border-bottom: 2px solid #d2caca42;
    width: 70%;
    display: flex;
    justify-content: center;
}
.footer_ol ol{list-style-type: none;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    column-gap: 35px;


}
.social_media{    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 73px;
    font-size: 42px;
    margin: 25px;
}
.upcomming_page{display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.upcomming_date {     border: 1px solid #00000036;
    border-radius: 14px;
    height: 220px

}
.upcomming_flex{     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70%

  }
  .upcomming_flag_padding{
    padding: 20px;
  }
  .upcomming_date_bottom{    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .upcomming_date_bottom h4{font-size: 22px;
    
}
.upcomming_date_bottom p{font-size: 16px;
    
} 
.group{    display: flex;
    width: 78%;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    align-items: center;
}
.group_team{    border: 1px solid #00000036;
    border-radius: 14px;
    padding: 32px;
    background: #8b89895c;

}

element.style {
}
.group_team h6 {
    font-size: 32px;
    padding: 5px;
    margin-bottom: 6px;
    margin-top: 5px;

}
.group_team li{   font-size: 28px; 
      
}
@media screen and (max-width:576px) {
    header h1{font-size: 40px;}
.section_two,.section_one{margin:0px}
.header_section{display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;}
.section_two {
    display: flex;flex-direction: column;}
.transfer_grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);}

.navigation{        display: flex;
    align-content: flex-start;
    flex-direction: column;}
.section_two {
    display: flex;}
    footer{height: 355px;}
.footer_section{display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 12px;

    }
.footer_section h3 {    padding-bottom: 5px;
    margin-top: 10px;
    justify-content: flex-start;}
.footer_ol ol{
    display: flex;
    flex-direction:column;
           
        
        }
.group {
    display: block;}
.social_media {
    gap: 25px;}
.upcomming_page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);}
.header_img {
    width: 70%;}
.header_article {
    width: 68%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;}
.upcomming_flex {
        height: 39%;
    }
}
@media screen and (min-width:577px) and (max-width:992px) {
.header_section{background-color: black; }
.section_two {
    display: flex;
    flex-direction: column;}
.menu {
    background:white}
.menu_bar ul li a{ display: flex;
    flex-direction: row;  }  
.transfer_grid {    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;}
.footer_ol ol {
    list-style-type: none;
    display: flex;  
    column-gap: 7px;}   

.menu ul {width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
        }
.section_two {
    display: flex;
    align-items: center;}   
.header_article {
    padding-bottom: 20px; }
.upcomming_page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
                }      
.group {
    display: block;}    
header h1 {
    font-size: 35px;
}    


}
